<h2>
    Guest details of {{guest.$name}}
</h2>

<p>Name: {{guest.$name}} </p>
<p>Email: {{ guest.$email }}</p>
<p>Email: {{ guest.$lastOperation }}</p>
<p>Email: {{ guest.$status }}</p>

<label class="btn-primary" ngbButtonLabel>
  <input type="checkbox" ngbButton (click)="backToGuestsList()"> Volver
</label>