<h1>New guest</h1>

<form [formGroup]="addGuestForm" novalidate>

    <div class="form-group m-t-40">
        <div class="col-xs-12 ">
            <input class="form-control " type="text " formControlName="nameValue" required=" " placeholder="Name ">
        </div>
    </div>

    <div class="form-group m-t-40">
        <div class="col-xs-12 ">
            <input class="form-control" type="email" formControlName="emailValue" placeholder="Email" email="true">
        </div>
    </div>

    <button class="btn-secondary" ngbButton type="submit " [disabled]="!addGuestForm.valid" (click)="submitForm()">  Añadir </button>


</form>