<h1>Guests</h1>

<form>
    <div class="form-group form-inline">
        Búsqueda de invitados por nombre: <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
    <div>
        <label class="btn-secondary" ngbButtonLabel>
            <input type="checkbox" ngbButton (click)="navigateToNewGuestForm()"> Añadir nuevo invitado
          </label>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">LastOperation</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let guest of guestList$ | async; index as i" (click)="navigateToDetail(guest.$id)">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                <ngb-highlight [result]="guest.$name" [term]="filter.value"></ngb-highlight>
            </td>
            <td>
                {{ guest.$email }}
            </td>
            <td>
                {{ guest.$lastOperation }}
            </td>
            <td>
                <label [ngClass]="{
                  'btn-primary': guest.status === 'Enviada',
                  'btn-danger': guest.status === 'No enviada',
                  'btn-success': guest.status === 'Activa'
                }" ngbButtonLabel>
                    <input type="checkbox" ngbButton disabled=true> {{ guest.$status }}
                </label>
            </td>
        </tr>
    </tbody>
</table>